@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'lato';
    box-sizing: border-box;
    
}
:root{
    --yellow: #f2be54
    ;
    --gray:#cdd4ca
    ;
    --light-blue:#87aeb4
    ;
    --dark-blue:#153e5c
    ;
    --black:#191a1d
    ;
}
*:focus{
    outline: none;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.2rem;
}
ul{
    list-style: none;
}

img{
    width: 100%;
}

/*HEADER*/
header{
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    background: var(--yellow);
    position: fixed;
    width: 100%;
    z-index: 99;
    
    

}
header ul{
    text-align: end;
}
header li{
    display: inline-block;
}
header a{
    margin: .5em;
    padding: .2em;
    color: var(--dark-blue);
    

}
header a:hover{
    border-bottom: var(--light-blue) 2px solid;
    color:var(--light-blue);
    
}
header img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
}
.logo{
    display: flex;
}
.logo-text{
    color: var(--dark-blue);
   
    
}
.logo-text span{
    color: var(--black);
    
}

/*HERO*/
main{
    background-color: var(--dark-blue);
    color:var(--gray);
    text-align: center;
    padding-top: 100px;
}
.title{
    
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 20px;
    
}


.grid{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    
    
}
/*Exchanges*/
.pais{
    display: flex;
    
    justify-content: space-between;
    align-content: center;
    margin: .3em;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5) ;
    position: relative;
    overflow: hidden;
    width: 50%;
    transition: transform 0.8s;
}
.pais::before{
    content: '';
    position: relative;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,.05);
    
    
}
.pais:hover{
    transform: scale(1.05);
}

.pais span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--dark-blue), var(--yellow));
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
    
}
@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.pais span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, var(--dark-blue), var(--yellow));
    animation: animate2 2s linear infinite;
   
}
@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.pais span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left,var(--dark-blue), var(--yellow));
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
    
}
@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.pais span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, var(--dark-blue), var(--yellow));
    animation: animate4 2s linear infinite;
   
}
@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.pais img{
    width: 80px;
    margin: 1em;
    padding: 5px;
    position: absolute;
}
.pais h2{
    margin: 1em;
    position: relative;
}

/* SECTION BANCOS*/
.transfers{
    margin-top: 3em;
}
.banco img{
    width: 200px;
    background: rgba(255,255,255,0.5);
    
}
.bancos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}
.transfers h1{
    margin: 20px;
}
.transfers p{
    margin: 20px;
}
.banco{
    box-shadow: 0 20px 50px rgba(0,0,0,0.5) ;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    transition: .8s;
    padding: 10px;
    
}
.banco:hover h2{
    color: var(--yellow);

}
.banco:hover{
    transform: scale(1.02);
}
.paypal{
    grid-column: 2/4;
}

/*CONTACTOS*/

.contactos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.contactos a{
    font-size: 50px;
    color: var(--gray);

}
.contactos h1{
    grid-column: 1/4;
}
.contacto{
    box-shadow: 0 20px 50px rgba(0,0,0,0.5) ;
    width: 300px;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
    transition: .8s;
}
.contacto h3{
    font-size: 1.5rem;
}
.contacto:hover{
    color: var(--yellow);
    transform: scale(1.1);
}
.contacto:hover a{
    color: var(--yellow);
}

/*ABOUT SECTION*/
.about{
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 10px 0 10px;
    padding: 10px;
    justify-items: center;
    
}
.person{
    box-shadow: 0 20px 50px rgba(0,0,0,0.5) ;
    display: flex;
    text-align: left;
    margin-top: 30px;
    width: 600px;
    transition: .8s;
}
.person:hover{
    transform: scale(1.05);
}
.person img{
    width: 250px;
    padding: 20px;
}
.person-desc{
    margin: 20px;
    
}
/*FOOTER*/
footer{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--yellow);
    
}
.social{
    font-size: 50px;
    justify-self: end;
    margin-right: 30px;
    align-self: center;
}
.social a{
    color: var(--dark-blue);
    transition: .8s;
}
.social a:hover{
    transform: scale(1.1);
    color: var(--gray);
}
.footer-text
{
    align-self: center;
    color: var(--dark-blue);
    margin-left: 30px;
}
/*MEDIA QUERY*/
@media (max-width:768px) {
    header{
        height: 120px;
    }
    header img{
        width: 70px;
        height: 70px;
    }
    header li{
        display: block;
        margin-top: .5em;
    }
    main{
        padding-top: 140px;
    }
    .pais{
        width: 80%;
    }
    .contactos,
    .bancos,
    .grid{
        grid-template-columns: 1fr;
        justify-items: center;
        
    }
    .contactos h1{
        grid-column: auto;
    }
    .paypal{
        grid-column: auto;
    }
    .banco{
        margin-top: 30px;
        width: 80%;
    }
    .person{
        display: block;
        width: 100%;
        text-align: center;
        
    }
    .person img{
        width: 250px;
        
    }
}